<!DOCTYPE html>
<html>
<head>
    <script src="/static/ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <button onclick="fetch('/api/enable')">Enable</button>
    <button onclick="fetch('/api/disable')">Disable</button>
    <button onclick="fetch('/api/gradient/0/100')">Up</button>
    <button onclick="fetch('/api/gradient/100/0')">Down</button>
    <br><br>
    <input type="range" min="0" max="100" step="1" oninput="fetch('/api/brightness/' + this.value)">
</body>
</html>
